* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    color: #1a1a1a;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.logo {
    font-size: 26px;
    font-weight: 600;
    color: #0077ff;
}

.logo span {
    color: #003366;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #003366;
    font-weight: 500;
}

.btn {
    padding: 10px 20px;
    background: #0077ff;
    color: white;
    border-radius: 5px;
}

/* HERO */
.hero {
    height: 90vh;
    background: linear-gradient(to bottom, rgba(0, 80, 180, 0.6), rgba(0, 40, 120, 0.9)),
    url('images/cleaning.jpg') center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px;
}

.hero h1 {
    color: white;
    font-size: 44px;
    margin-bottom: 20px;
}

.hero p {
    color: #f0f0f0;
    font-size: 18px;
    margin-bottom: 30px;
}

.hero-btn {
    background: white;
    color: #003366;
    font-weight: 600;
}

/* SECTIONS */
section {
    padding: 80px 50px;
}

/* SERVICES */
.services h2,
.about h2,
.reviews h2,
.contact h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
    color: #003366;
}

.service-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.service-box {
    width: 300px;
    padding: 25px;
    background: white;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #e2e2e2;
    transition: 0.25s;
}

.service-box:hover {
    transform: translateY(-8px);
}

/* ABOUT */
.about {
    background: #f3f9ff;
    text-align: center;
}

.about-text {
    max-width: 700px;
    margin: auto;
    font-size: 18px;
    color: #003366;
}

/* REVIEWS */
.review-container {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.review-box {
    width: 300px;
    padding: 20px;
    background: white;
    border-left: 4px solid #0077ff;
    border-radius: 8px;
}

/* CONTACT */
.contact form {
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, textarea {
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button {
    border: none;
    cursor: pointer;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #003366;
    color: white;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    header {
        padding: 20px;
    }

    .hero h1 {
        font-size: 32px;
    }

    section {
        padding: 60px 20px;
    }
}